---
---

@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// Our variables
$base-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$sm-font-size:  $base-font-size * 0.875;
$md-font-size:  $base-font-size * 1.5;
$lg-font-size:  $base-font-size * 2;
$xl-font-size:  $base-font-size * 4;
$base-line-height: 1.5;

$spacing-unit:     30px;

$blue-color:       #0077b5;
$blue-color-light: lighten($blue-color, 5%);
$blue-color-dark:  darken($blue-color, 5%);
$blue-color-dark-2:  darken($blue-color, 10%);

$white-color:       white;
$white-color-dark:  darken($white-color, 25%);

$black-color:       black;
$black-color-light: lighten($black-color, 5%);
$black-color-light-2: lighten($black-color, 10%);

$background-color: #fdfdfd;
$body-text-color:      black;
$header-text-color:       white;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "enterprise_layout",
    "enterprise_mediaquery"
;