/* Hero Header */
.hero-header {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;

    .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;

        .intro-lead-in {
            font-style: italic;
            font-size: $lg-font-size;
            line-height: $base-line-height;
            margin-bottom: $spacing-unit;
        }

        .intro-heading {
            font-weight: bold;
            font-size: $xl-font-size;
            line-height: $base-line-height;
            margin-bottom: $spacing-unit;
        }
    }

    .video-holder {
        margin: $spacing-unit 0;
    }

    video {
        max-width: 700px;
        width: 100%;
    }
}

.intro {
    .fa {
        display: block;
        font-size: $lg-font-size;
        color: $blue-color;
    }

    label {
        font-size: $md-font-size;
        margin: 0;

            strong {
            font-size: $lg-font-size;
        }
    }
}

.features {
    .feature-box {
        padding: 15px 0;

        i {
            background: $blue-color;
            border-radius: $lg-font-size;
            color: $white-color;
            height: $lg-font-size;
            line-height: $lg-font-size;
            width: $lg-font-size;
            text-align: center;
        }
    }
}

.box-icon {
    color: $blue-color;
    position: relative;
    line-height: 0;
    font-size: $lg-font-size;
}

.img-responsive {
    width: 100%;
    height: auto;
}

.title-regular {
    font-size: $md-font-size;
    font-weight: 500;
    color: $body-text-color;
}

.title-highlight {
    font-size: $lg-font-size;
    font-weight: 800;
    color: $blue-color;
}

%base-underline{
    height: 3px;
    width: 70px;
    background-color: $blue-color;
    margin-top: 5px;
    margin-bottom: 30px;
}

.title-underline-center {
    @extend %base-underline;
}

.title-underline {
    @extend %base-underline;
    margin-left: 0;
}

.padding-top {
    padding: $spacing-unit 0;
}

.filter-section {
    h2 {
        text-align: center;
    }

    .filter-container {
        text-align: center;
        font-size: $md-font-size;
    }

    li {
        display: inline;
    }
}

.portfolio-section {
    figure {
        float: left;
        width: 100%;
        position: relative;

        img {
            width: 100%;
            height: auto;
        }

        .overlay-background {
            background-color: $black-color-light;
            z-index: 1;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            height: 100%;

            .inner {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                margin: 0px;
                background-color: $black-color-light;
            }
        }

        .overlay {
            z-index: 2;
            transition: all .2s ease-in-out;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            width: 100%;
            height: 100%;

            .inner-overlay {
                display: table;
                width: 100%;
                height: 100%;
            }
        }
    }

    figure:hover .overlay {
        opacity: 1;
        visibility: visible;
    }
    figure:hover .overlay-background {
        opacity: .8;
        visibility: visible;
    }

    .info-head {
        margin-bottom: 10px;

        h3 {
            font-size: 26px;
            line-height: 20px;
            color: $blue-color-light;
        }

        h4 {
            color: $white-color;
        }
    }

    .info p, .info a {
        color: $white-color;
    }
}