/* Hero Header */
.hero-header {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;

    .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;

        .intro-lead-in {
            font-style: italic;
            font-size: $md-font-size;
            line-height: $base-line-height;
            margin-bottom: $spacing-unit;
        }

        .intro-heading {
            font-weight: bold;
            font-size: $xl-font-size;
            line-height: $base-line-height;
            margin-bottom: $spacing-unit;
        }
    }

    .video-holder {
        margin: $spacing-unit 0;
    }

    video {
        max-width: 700px;
        width: 100%;
    }
}