<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  <head>
  <link id="theme-style" rel="stylesheet" href="{{site.baseurl}}/css/enterprise.css">
  </head>

  <body>
    {{ content }}

	{% include scripts.html %}
  <script type="text/javascript" src="https://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
  <script src="{{site.baseurl}}/js/baidu-map.js"></script>
	<!-- custom js -->
	<script type="text/javascript" src="{{site.baseurl}}/js/enterprise.js"></script>
  </body>

</html>