<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  <head>
  <link id="theme-style" rel="stylesheet" href="{{site.baseurl}}/css/resume.css">
  </head>

  <body>
    {{ content }}

	{% include scripts.html %}
	<script type="text/javascript" src="{{site.baseurl}}/js/back-to-top.js"></script>
	<script type="text/javascript" src="{{site.baseurl}}/js/jquery.scrollTo.min.js"></script> 
	<script type="text/javascript" src="{{site.baseurl}}/js/jquery.easypiechart.min.js"></script>
	<script type="text/javascript" src="{{site.baseurl}}/js/imagesloaded.pkgd.min.js"></script> 
	<script type="text/javascript" src="{{site.baseurl}}/js/isotope.pkgd.min.js"></script>  

	<!-- custom js -->
	<script type="text/javascript" src="{{site.baseurl}}/js/main.js"></script>
  </body>

</html>

